@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
*{margin: 0; padding: 0;}
#wrap {width: 100%; margin: 0 auto; font-size: 15px; text-align: center; flex-direction: column;}
#nav-wrap{width: 100%; margin-bottom:30px;}
#content-wrap{width: 1000px; min-height : 1000px; overflow-y: scroll; margin: 0 auto;background-color: white;}
#footer-wrap{
    width: 100%; 
    height: 100px; 
    line-height: 100px; 
    margin: 0 auto; 
    text-align:center; 
    background-color: #303740; 
    color:#fff;
    display : flex;
    justify-content: center;
    align-items : center;
}
#footer-wrap > div.footer-container{background-color: #303740; }

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.nav-container {width:1000px; height: 100px; line-height: 60px; margin: 0 auto;} 
.content-container {width: 100%; height: 100%; line-height: 20px; margin: 0 auto; background-color: white;}
.footer-container{width: 100%; height: 100px; line-height: 100px; margin: 0 auto; background-color: #c39d91;}
.nav-container>nav{
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link{
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited{
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover{
    color:  #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover{
    color:  #00C471;
    font-weight: bold;
}

.board-banner{
    font-size:50px;
    text-align:left;
    padding:15px;
    border:1px solid black;
    background-color : #343b3d;
    color : white;
    height:250px;
    width:1000px;
    margin:0 auto;
    margin-bottom:30px;
}
.board-banner span{
    font-size:20px;
    background-color:  #343b3d;
    color:white;
}

.boarddetail-container{
    /* display:flex; */
    flex-direction: column;
    width:1000px;
    margin : 0 auto;
}

.boarddetail-container .content{
    width:800px;
    margin :70px;
    word-wrap: break-word; /* 글자가 라인의 끝에서 넘치는 경우 줄바꿈 */
    overflow-wrap: break-word;
}

.boarddetail-container #edit-btn{
    text-align:right;
    border:white;
    background-color: white;
    border-radius: 10%;
}
.boarddetail-container #detailbtn{
    text-align:right;
}

.boarddetail-container #editbtn{
    border-width: 1px;
    margin: 15px 0px 0px 15px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width:80px;
    position: relative;
    line-height: 1;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
}
.boarddetail-container #delbtn{
    border-width: 1px;
    margin: 15px 0px 0px 15px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width:80px;
    position: relative;
    line-height: 1;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #858A8D;
    border-radius: 8px;
}

.repdetailbtn #repeditbtn{
    border-width: 1px;
    margin: 15px 0px 0px 15px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 16px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width:80px;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #858A8D;
    border-radius: 8px;
}

.repdetailbtn #repdelbtn{
    border-width: 1px;
    margin: 15px 0px 0px 15px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 16px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width:80px;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #858A8D;
    border-radius: 8px;
}

#editReplyForm #modifybtn{
    border-width: 1px;
    margin: 15px 0px 0px 15px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 16px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width:120px;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #858A8D;
    border-radius: 8px;
}

#editReplyForm #cancelbtn{
    border-width: 1px;
    margin: 15px 0px 0px 15px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 16px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width:80px;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #858A8D;
    border-radius: 8px;
}

.boarddetaillist-container{
    border-bottom:1px solid rgb(6, 29, 175);
    margin-bottom: 30px;
    padding: 30px 20px;
    text-align: left;
    color : black;

}
.replist-container{
    border-bottom:1px solid black;
    margin-top:10px;
}
.boarddetaillist .title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.boarddetaillist .content{
    font-size: 22px;
    color: #5d6366;
    margin-bottom: 50px;
    width: 800px;
    /* overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; */
}

.boarddetaillist .nickname{
    font-size:12px;
    color:#5d63669e;
}

.boarddetaillist .info{
    display:flex;  
}

.boarddetaillist .subinfo1{
    flex:7; 
    display:inline-block;
    text-align: left;
    margin-bottom : 30px;
    color:#858e96;
}
.boarddetaillist .subinfo2{
    flex:3;
    display:inline-block;
    text-align: right;
}
#addRepbtn{
    margin-right: 14px;
    border-width: 1px;
    text-align: center;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 28px;
    -webkit-tap-highlight-color: transparent;
    width: 80px;
    position: relative;
    line-height: 1;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
}