div.show{
    height:100px;
    border:1px dotted;
    margin-bottom: 10px;
}
div.show>img{
    max-height: 100%;
    width:auto;
}
.list{
    width:800px;
    margin: 50px auto;
}

input[type=text]{
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    resize: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
    border-width: 0px;
    min-height: 28px;
    outline: 0px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.35;
    padding: 10px;
    border-bottom: 2px solid rgb(222, 226, 230);
}

textarea{
    background-color: rgb(255, 255, 255); cursor: auto; text-align: left; min-height: 28px;
    outline: 0px;
    margin-bottom: 20px;
    width: 100%;
    min-height:300px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.35;
    padding:10px;
    border:none;
}

.editbutton{
    margin-top:50px;
    display: flex;
    justify-content: flex-end;
}
#cancelbtn{
padding: 0px 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    /* -webkit-tap-highlight-color: transparent; */
    display: inline-block;
    width: auto;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    margin-right: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 8px;
}

#editbtn{
    padding: 0px 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: auto;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 196, 113);
    border-radius: 8px;
}