
#user-index-wrap {width: 100%; height: auto; font-size: 15px; }
#user-index-wrap>#nav-wrap{width: 100%;}


#user-index-wrap>#content-wrap>.userpage-body-wrap{margin:0 auto; width: 1000px; height: 1200px; }
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */


@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{margin: 0; padding: 0; background-color: #FFFEFE; font-family: 'Spoqa Han Sans Neo', 'sans-serif';} 
#index-wrap {width: 100%; height: 1500px; color: #000000; font-size: 15px; }
#banner-wrap{width: 100%; }
#content-wrap{width: 100%; height:auto; }
#footer-wrap{
    width: 100%; 
    height: 100px; 
    line-height: 100px; 
    margin: 0 auto; 
    text-align:center; 
    background-color: #303740; 
    color:#fff;
    display : flex;
    justify-content: center;
    align-items : center;
    }
    .content{
         background-color: #F9F9F9;
    }
#devBanner{width: 1000px; height: 300px;}

#content-wrap>.content-container>div.lessonlist{ width:100%; height:800px;}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.nav-container {width:1000px; height: 100px; line-height: 60px; margin: 0 auto;} 
.banner-container {width: 1000px; height: 300px; line-height: 300px; margin: 0 auto;  }
.content-container {  float: right; width: 78%; height: 1000px; margin: 0 auto; margin: -618px 13px 13px 13px;
    overflow: auto
 }
.footer-container{width: 100%; height: 100px; line-height: 100px; margin: 0 auto; }
#footer-wrap > div.footer-container{
    background-color: #303740; 
}

.nav-container>nav{
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link{
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited{
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover{
    color:  #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover{
    color:  #00C471;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
}

.side-container>.menu>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}

.side-container>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}


.side-container>.menu>ul>li>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}


.side-container>.menu {
    display: inline-block;
    margin-left: 15px;
}

.side-container>.menu>div {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

.side-container>.menu>ul {
    list-style-type: none;
}

.side-container>.menu>ul>li {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
    list-style-type: none;
}

.side-container>.menu>ul>li>ul>li {
    margin-top: 8px;
    margin-left: 15px;
    font-size: 16px;
    list-style-type: none;
}


#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#user-reviewRequired-box{
    width:730px;
    height:auto;
    background-color: rgb(248, 246, 239);
    border-radius: 10px;
    margin: 30px 25px 30px 25px;
    padding-bottom: 30px;
}
#review-box{
    width:440px;
    height:auto;
    background-color: rgb(250, 249, 248);
    border-radius: 10px;
    margin: 5px 0px 0px 10px;
    padding-bottom: 20px; 
}
.review-content{
    margin: auto;
}
div.review{
    text-align: left;
}
div.reviewTextBox{
    top: 10%;
    transform: translateY(-20%);
    margin-left: 4px;
} 
#reviewTextBox{
    width: 430px;
    height: auto;
    text-align: center;
    resize: none;
    margin-left: 10px;
    
}  
#user-reviewDetail-box{
    width:460px;
    height:auto;
    background-color: rgb(168, 167, 163);
    border-radius: 10px;
    margin: 1px 25px 30px 120px;
    padding-bottom: auto;
}

.info-title{
    font-weight: 700;
    padding: 20px ;
}
.info-title2{
    font-weight: 700;
    padding: 10px ;
}
#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#user-review-box{
    width:730px;
    height:auto;
    background-color: rgb(248, 246, 239);
    border-radius: 10px;
    margin: 30px 25px 60px 25px;
    padding-bottom: 30px;
}

#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#studycafe-infomation-box>.imgbox{
    float: left;
    background-color: #8fd9c3;
    width: 220px;
    height: 220px;
    margin: 15px 0px 0px 25px 
}

#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#studycafe-infomation-box>.textbox{
    float: right;
    background-color: #c39d91;
    width: 450px;
    height: 220px;
    margin: 15px 25px 0px 0px
}

#table-head{
    margin-top: 5px;
    margin-left: 16%;
}
#table-body{
    width: 600px;
    margin-top: 5px;
    margin-left: 18%;
}

th{
    width: 120px;
    height: 40px;
}
td{
    margin: auto;
    text-align: left;
    width: 100px;
    height: 30px;
}
hr{
    height: 5px;
}
/*=================== 별점 후기  ===================*/
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform label{
    font-size: 20px; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 gray; /* 새 이모지 색상 부여 */
}

#myform label:hover{
    text-shadow: 0 0 0 yellowgreen; /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 yellowgreen; /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

#myform fieldset legend{
    text-align: left;
}

#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 yellowgreen; /* 마우스 클릭 체크 */
}
.content-container > .content{
    margin: 50px;
    background-color: #F9F9F9;
}
form#myform{
    background-color: #F9F9F9;
}
#rate1{
    background-color: #F9F9F9;
}
#myform-textarea{
    margin-top: 50px;
    width: 775px;
    height: 300px;
    font-size: 20px;
}
.cfName{
    width: 200px;
    
}
.SeqQuery{
    display: none;
}
#scname{
background-color: #F9F9F9;
}
#sfname{
background-color: #F9F9F9;
}
.cfName{
background-color: #F9F9F9;
}
#room{
background-color: #F9F9F9;
}
.rName{
background-color: #F9F9F9;
}

table.content-table{
    background-color: #F9F9F9;
}

.content1 {
    background-color: #F9F9F9;
}
.content-table>{
    background-color: #F9F9F9;
}
.fieldset{
    background-color: #F9F9F9;
}
#scname{
background-color: #F9F9F9;
}
#label{
background-color: #F9F9F9;
}
/* ///////////////////////////////////////////////////////////////////////// */


#index-wrap {
    width: 100%;
    height: 1500px;
    color: #000000;
    font-size: 15px;
}

#nav-wrap {
    width: 100%;
    ;
}

#banner-wrap {
    width: 100%;
}

#content-wrap {
    width: 100%;
    height: auto;
}

#footer-wrap {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #303740;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#devBanner {
    width: 1000px;
    height: 300px;
}

#content-wrap>.content-container>div.lessonlist {
    width: 100%;
    height: 800px;
}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.nav-container {
    width: 1000px;
    height: 100px;
    line-height: 60px;
    margin: 0 auto;
}

.banner-container {
    width: 1000px;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
}



.footer-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}


/* -----------------index 전용 css START ----------------------*/
.btn{
    margin-top: 10px;
    margin-left: 670px;
    padding: 0px 22px;
        appearance: none;
        text-align: left;
        text-decoration: none;
        box-sizing: border-box;
        height: 42px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        width: auto;
        position: relative;
        line-height: 1;
        font-size: 16px;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;
        font-weight: 500;
        color: rgb(255, 255, 255);
        background-color: #00C471;
        border-radius: 8px;
}
div.top-title {
    margin-left: 25px;
    margin-bottom: 15px;
    background-color: #F9F9F9;
}

span#showLoginId {
    font-weight: 800;
    color: #00C471;
}
.review-box{
    background-color: #F9F9F9;
}
.form{
    background-color: #F9F9F9;
}
.review-name{
    font-weight: bold;
background-color: #F9F9F9;
}