@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
#user-index-wrap {width: 100%; height: auto; font-size: 15px; }
#user-index-wrap>#nav-wrap{width: 100%;border: 1px solid rgb(187, 187, 187);}
#user-index-wrap>#content-wrap{width: 100%; height:auto; border: 1px solid rgb(187, 187, 187);}
#user-index-wrap>#footer-wrap{width: 100%; border: 1px solid rgb(187, 187, 187); text-align:center;}
#user-index-wrap>#content-wrap>.userpage-body-wrap{margin:0 auto; width: 1000px; height: 1200px;  border: 1px solid rgb(187, 187, 187);}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

 @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

 * {
     font-family: 'Spoqa Han Sans Neo', 'sans-serif';
 }

 a {
     text-decoration: none;
     color: black;
 }

 * {
     margin: 0;
     padding: 0;
 }

 .side-container>.menu>ul>li>a:hover {
     color: #00C471;
     font-weight: bold;
 }

 .side-container>ul>li>a:hover {
     color: #00C471;
     font-weight: bold;
 }


 .side-container>.menu>ul>li>ul>li>a:hover {
     color: #00C471;
     font-weight: bold;
 }


 .side-container>.menu {
     display: inline-block;
     margin-left: 15px;
 }

 .side-container>.menu>div {
     font-size: 16px;
     margin-top: 20px;
     font-weight: 700;
 }

 .side-container>.menu>ul {
     list-style-type: none;
 }

 .side-container>.menu>ul>li {
     margin-top: 5px;
     margin-left: 20px;
     font-size: 16px;
     list-style-type: none;
 }

 .side-container>.menu>ul>li>ul>li {
     margin-top: 8px;
     margin-left: 15px;
     font-size: 16px;
     list-style-type: none;
 }
 
 #user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container {
    float: right; width: 78%; height: 1000px; margin: 0 auto; margin: -618px 13px 13px 13px;
    overflow: auto

}


#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#user-infomation-box{
    width:730px;
    height:200px;
    background-color: rgb(248, 246, 239);
    border-radius: 10px;
    margin: 30px 25px 30px 25px;
}

#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#studycafe-infomation-box{
    width:730px;
    height:400px;
    background-color: rgb(248, 246, 239);
    border-radius: 10px;
    margin: 30px 25px 30px 25px;
}

.info-title{
    font-weight: 700;
    padding: 30px;
}

#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#user-infomation-box{
    width:730px;
    height:auto;
    background-color: rgb(248, 246, 239);
    border-radius: 10px;
    margin: 30px 25px 60px 25px;
    padding-bottom: 30px;
}

#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#studycafe-infomation-box>.imgbox{
    float: left;
    background-color: #8fd9c3;
    width: 220px;
    height: 220px;
    margin: 15px 0px 0px 25px 
}

#user-index-wrap>#content-wrap>.userpage-body-wrap>.content-container>#studycafe-infomation-box>.textbox{
    float: right;
    background-color: #c39d91;
    width: 450px;
    height: 220px;
    margin: 15px 25px 0px 0px
}


@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    background-color: #FFFEFE;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#index-wrap {
    width: 100%;
    height: 1500px;
    color: #000000;
    font-size: 15px;
}

#nav-wrap {
    width: 100%;
    ;
}

#banner-wrap {
    width: 100%;
}

#content-wrap {
    width: 100%;
    height: auto;
}

#footer-wrap {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #303740;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#devBanner {
    width: 1000px;
    height: 300px;
}

#content-wrap>.content-container>div.lessonlist {
    width: 100%;
    height: 800px;
}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.nav-container {
    width: 1000px;
    height: 100px;
    line-height: 60px;
    margin: 0 auto;
}

.banner-container {
    width: 1000px;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
}

.content-container {
    width: 1000px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

#footer-wrap>div.footer-container {
    background-color: #303740;
}

.nav-container>nav {
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img {
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul {
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li {
    /* width: 100px; */
    display: inline-block;
    margin-left: 15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link {
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited {
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover {
    color: #00C471;
    font-weight: bold;
}

/* -----------------index 전용 css START ----------------------*/

table{
    margin-top: 20px;
    margin-left: 7.5%;
}
th{
    width: 120px;
    height: 40px;
}
td{
    
    text-align: center;
    width: 100px;
    height: 40px;
}
.resSeq{
    display: none;
}
#btn{
    
    
        appearance: none;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        height: 42px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        width: 100px;
        height: 30px;
        position: relative;
        line-height: 1;
        font-size: 16px;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;
        font-weight: 500;
        color: rgb(255, 255, 255);
        background-color: #FF6D5A;
        border-radius: 8px;
}
.history-table{
    width: 650px;
}
.history{
    width: 300px;
    margin-left: 30pxs;
}
.trclass{
    width: 150px;
}
div.top-title {
    margin-left: 25px;
    margin-bottom: 15px;
}

span#showLoginId {
    font-weight: 800;
    color: #00C471;
}