@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{margin: 0; padding: 0; background-color: #FFFEFE; font-family: 'Spoqa Han Sans Neo', 'sans-serif';} 

#add {width: 100%; height: auto; color: #000000; font-size: 15px; }
#footer-wrap{
    width: 100%; 
    height: 100px; 
    line-height: 100px; 
    margin: 0 auto; 
    text-align:center; 
  
    background-color: #303740; 
    color:#fff;
    display : flex;
    justify-content: center;
    align-items : center;
    }
    #footer-wrap > div.footer-container{
      background-color: #303740; 
  }
.nav-container {width:1000px; height: 100px; line-height: 60px; margin: 0 auto; } 
.content-container {width: 1000px; margin: 0 auto;  } 
.container{margin-bottom: 80px;}

/*=================== 헤더메뉴바 ===================*/
.nav-container>nav{
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
  }
  
  .nav-container>img{
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
  }
  
  .nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
  }
  
  .nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
  }
  
  /*  클릭 안 한 메뉴 */
  .nav-container>nav>ul>li>a:link{
    text-decoration: none;
    color: black;
    margin-top: 50px;
  }
  
  /*  클릭 한 메뉴 */
  .nav-container>nav>ul>li>a:visited{
    text-decoration: none;
    color: black;
  }
  
  .nav-container>nav>ul>li>a:hover{
    color:  #00C471;
    font-weight: bold;
  }
  
  .nav-container>nav>ul>li:hover{
    color:  #00C471;
    font-weight: bold;
  }

  #userName{
    margin-bottom: 20px;
  }

  #showLoginId{
    color:  #00C471;
    font-weight: bold;
  }


/*=================== 사이드바+메인영역 ===================*/
div.content-container > div.container{
    display: inline-block;
}

/*=================== 사이드바 ===================*/
div.content-container > div.container > div.menu{
    float: left;
    margin-left: 20px;
}

div.content-container > div.container > div.menu>div{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

div.content-container > div.container > div.menu>ul{
    list-style-type: none;
}

div.content-container > div.container > div.menu>ul>li{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 14px;
}

div.content-container > div.container > div.menu>ul>li:hover{
    background-color: #80d8b4;
    font-weight: 700;
    font-size: 15px;
    color: #fff
}

div.content-container > div.container > div.menu>ul>li>a{
    text-decoration: none;

}

a {
    text-decoration: none;
    color: black;
}

body > div.content-container > div > div.menu > div.main-menu{
    text-decoration: none;
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul > li> ul{
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul > li > ul > li{
    margin-bottom: 10px;
    margin-top: 8px;
}

body > div.content-container > div > div.menu > ul:nth-child(4) > li:nth-child(2) > ul{
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul:nth-child(4) > li:nth-child(2) > ul > li{
    margin-bottom: 10px;
    margin-top: 8px;
}

body > div.content-container > div > div.menu > ul:nth-child(8) > li:nth-child(1) > ul{
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul:nth-child(8) > li:nth-child(1) > ul > li{
    margin-bottom: 10px;
}

/*=================== 메인 영역 ===================*/
div.content-container > div > div.main{
    margin-left: 300px;
}


h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

h3>a{
    text-decoration: none;
    color: #000000;
}

h3>a:hover{
    color:  #00C471;
    font-weight: bold;
}


/*=================== 후기입력창 ===================*/
#lessonName > button{
    /* padding: 0px 22px; */
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: 70px;
    height: 20px;
    position: relative;
    line-height: 1;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
}

#nowrite-lessonreview-list {
    height: auto;
    width: 600px;
    background-color: #F9F9F9;
    padding: 20px;
    /* border: 1px solid black; */
}

#add > div.content-container > div > div.main > div.add-section {
    /* border: 1px solid black; */
    margin-top: 80px;
    margin-left: 50px;
}

#lessonName {
    margin-bottom: 12px;
    background-color: #F9F9F9;
}


/* 별점 입력 */
  #myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform label{
    font-size: 1.2em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#myform label:hover{
    text-shadow: 0 0 0 #00C471; /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 #00C471 ; /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #00C471;; /* 마우스 클릭 체크 */
}

#add-section-lessonName {
    margin-left: 120px;
    margin-top: 20px;
}


#myform > fieldset{
    margin-top: 10px;
    margin-left: 170px;
    
}

#myform > textarea {
    width: 300px;
    margin-left: 80px;
    height: 25px;
    margin-top: 5px;
    padding: 10px;
	box-sizing: border-box;
	border: solid 2px #80d8b4;
	border-radius: 5px;
}

#add-form-btn{
    appearance: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: 70px;
    height: 20px;
    position: relative;
    line-height: 1;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
     margin-top: 20px;
    margin-left: 190px;
}


