@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}

#studycafe-wrap{width: 100%; height: 1500px; color: #000000; font-size: 14px; border: 1px solid rgb(187, 187, 187); }
#studycafe-wrap>#nav-wrap{width: 100%; border: 1px solid rgb(187, 187, 187);}
#studycafe-wrap>#content-wrap{width: 100%; height:auto; border: 1px solid rgb(187, 187, 187);}
#footer-wrap{width: 100%; text-align:center; margin: 0px; border: 1px solid rgb(14, 13, 13);}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

#studycafe-wrap>#nav-wrap>.nav-container {width:1000px; height: 100px; line-height: 60px;margin: 0 auto; border: 1px solid #c39d91;} 
#studycafe-wrap>#content-wrap>.content-container {width: 1000px; margin: 0 auto; height: auto; padding-top: 50px; border: 1px solid #62ff19;}
#studycafe-wrap>#footer-wrap>.footer-container{width: 1000px; height: 100px; line-height: 100px; margin: 0 auto;  background-color: #c39d91;}


#studycafe-wrap>#nav-wrap>.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

#studycafe-wrap>#nav-wrap>.nav-container>nav{
    width: 600px;
    /* display: inline-block; */
    float: right;
}

#studycafe-wrap>#nav-wrap>.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    
}

#studycafe-wrap>#nav-wrap>.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

#studycafe-wrap>#nav-wrap>.nav-container>nav>ul>li:hover{
    background-color: #2C2A29;
    color: #fff
}



#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform{
    margin: 0 auto;
    background-color: #f5f5f1;
    width: 600px;
    height: 650px;
    border-radius: 20px;
    border: #c7c7c7 2px solid;
    padding-top: 10px;
    
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.field{
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.formtitle{
    margin-left: 25px;
    margin-bottom: 7px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.field>textarea{
    width: 550px;
    height: 170px;
    resize: none;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform input[type=text]{
    width: 550px;
    height: 30px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.textLengthWrap{
    float: right;
    margin-right: 25px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform input[type=submit]{
    width: 120px;
    height:35px;
    border-radius: 8px;
    border-color: antiquewhite;
    margin-left: 240px;
}
#searchBy{
    text-align: center;
    width: 100px;
    height: 30px;
}
#srNameAddrName{
    width: 530px;
    height: 28px;
}
#person{
    text-align: center;
    width: 100px;
    height: 30px;
}
#orderBy{
    text-align: center;
    width: 100px;
    height: 30px;
}
#btn{
    text-align: center;
    width: 150px;
    height: 30px; 
}
.studycafeTable{
    background-color: white;
    width: 320px;
    height: 300px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
.img{
    height: 250px;   
    line-height:0;
    background-size: cover;
}
.name{
    height: 80px;
    font-size: 25px;
    font-weight: 600;
}
.addr{
    height: 40px;
}
#studycafeTable-row3{
    height: 30px;
}
#cafeImg{
    background-size: cover;
    margin: 0;
    padding: 0;
}
.studycafeList{
    width: 33%;
    float: left;
    margin: 10px, 40px, 10px, 10px;
    text-align: center;
}
.srSeq{
    display: none;
}
.srbtn{
    width: 310px;
    height: 30px;
}


