@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}

#studycafe-wrap{width: 100%; height: 2000px; margin-bottom: 200px; color: #000000; font-size: 14px; }
#studycafe-wrap>#nav-wrap{width: 100%;}
#studycafe-wrap>#content-wrap{width: 100%; height:auto; }

#footer-wrap {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #303740;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */


#studycafe-wrap>#content-wrap>.content-container {width: 1000px; margin: 0 auto; height: auto; text-align: center; padding-top: 50px; }

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    background-color: #FFFEFE;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#index-wrap {
    width: 100%;
    height: 1500px;
    color: #000000;
    font-size: 15px;
}

#nav-wrap {
    width: 100%;
    ;
}

#banner-wrap {
    width: 100%;
}

#content-wrap {
    width: 100%;
    height: auto;
}

#footer-wrap {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #303740;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#devBanner {
    width: 1000px;
    height: 300px;
}

#content-wrap>.content-container>div.lessonlist {
    width: 100%;
    height: 800px;
}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.nav-container {
    width: 1000px;
    height: 100px;
    line-height: 60px;
    margin: 0 auto;
}

.banner-container {
    width: 1000px;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
}

.content-container {
    width: 1000px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

#footer-wrap>div.footer-container {
    background-color: #303740;
}

.nav-container>nav {
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img {
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul {
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li {
    /* width: 100px; */
    display: inline-block;
    margin-left: 15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link {
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited {
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover {
    color: #00C471;
    font-weight: bold;
}

/* -----------------index 전용 css START ----------------------*/


#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform{
    margin: 0 auto;
    background-color: #f5f5f1;
    width: 600px;
    height: 650px;
    border-radius: 20px;
    border: #c7c7c7 2px solid;
    padding-top: 10px;
    
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.field{
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.formtitle{
    margin-left: 25px;
    margin-bottom: 7px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.field>textarea{
    width: 550px;
    height: 170px;
    resize: none;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform input[type=text]{
    width: 550px;
    height: 30px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform>form>.textLengthWrap{
    float: right;
    margin-right: 25px;
}

#studycafe-wrap>#content-wrap>.content-container>.addstudycafeform input[type=submit]{
    width: 120px;
    height:35px;
    border-radius: 8px;
    border-color: antiquewhite;
    margin-left: 240px;
}
#searchBy{
    text-align: center;
    width: 110px;
    height: 42px;
    margin-left: -20px;
}
.searchgroup{
 margin-bottom: -10px;
}
#srNameAddrName{
    width: 460px;
    height: 42px;
}
#person{
    text-align: center;
    width: 100px;
    height: 42px;
}
#orderBy{
    text-align: center;
    width: 100px;
    height: 42px;
}
#btn{
    
        appearance: none;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        height: 42px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        width: 100px;
        position: relative;
        line-height: 1;
        font-size: 16px;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;
        font-weight: 500;
        color: rgb(255, 255, 255);
        background-color: #00C471;
        border-radius: 8px;
    
}

.studycafeTable{
    background-color: white;
    width: 320px;
    height: 300px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
.img{
    height: 250px;   
    line-height:0;
    background-size: cover;
}
.name{
    height: 80px;
    font-size: 25px;
    font-weight: 600;
}
.addr{
    height: 40px;
}
#studycafeTable-row3{
    height: 30px;
}
#cafeImg{
    background-size: cover;
    margin: 0;
    padding: 0;
}
.studycafeList{
    width: 33%;
    float: left;
    margin: 10px, 40px, 10px, 10px;
    text-align: center;
}
.srSeq{
    display: none;
}
.td{
    text-align: center;
}
td.srbtnn{
    text-align: right;
}
input.srbtn{
    
    padding: 0px 22px;
    
        appearance: none;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        height: 20px;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        width: 250px;
        position: relative;
        line-height: 1;
        font-size: 16px;
        user-select: none;
        cursor: pointer;
        border: 1px solid transparent;
        font-weight: 500;
        color: rgb(255, 255, 255);
        background-color: #00C471;
        border-radius: 8px;
        margin-left: 5px;
    
}

.price {
    text-align: right;
    width: 140px;
}
.favCnt{
    text-align: left;
    display: none;
}
div.top-title {
    margin-left: -750px;
    margin-bottom: 60px;
}

span#showLoginId {
    font-weight: 800;
    color: #00C471;
}
.form{
    margin-bottom: 20px;
}