@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
#list-room-wrap {width: 100%; height: auto; font-size: 15px; }
#list-room-wrap>#nav-wrap{width: 100%;border: 1px solid rgb(187, 187, 187);}
#list-room-wrap>#content-wrap{width: 100%; height:auto; border: 1px solid rgb(187, 187, 187);}
#list-room-wrap>#footer-wrap{width: 100%; border: 1px solid rgb(187, 187, 187); text-align:center;}
#list-room-wrap>#content-wrap>.hostpage-body-wrap{margin:0 auto; width: 1000px; height: 600px;  border: 1px solid rgb(187, 187, 187);}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
width: 100%는 기본값이기 때문에 없어도 된다 */


#list-room-wrap>#nav-wrap>.nav-container {width:1000px; height: 100px; line-height: 60px;margin: 0 auto; border: 1px solid #c39d91; } 
#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container {float: left; width: 19%; height: auto; margin: 0 auto; border: 1px solid #fc487b;} 
#list-room-wrap>#content-wrap>.hostpage-body-wrap>.content-container {float: right; width: 78%; height: auto; margin: 0 auto; border: 1px solid #62ff19; margin: 18px 13px 13px 13px;}
#list-room-wrap>#footer-wrap>.footer-container{width: 1000px; height: 100px; line-height: 100px; margin: 0 auto;  background-color: #c39d91;}

#list-room-wrap>#nav-wrap>.nav-container>nav{
    width: 310px;
    /* display: inline-block; */
    float: right;
}

#list-room-wrap>#nav-wrap>.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

#list-room-wrap>#nav-wrap>.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    
}

#list-room-wrap>#nav-wrap>.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

#list-room-wrap>#nav-wrap>.nav-container>nav>ul>li:hover{
    background-color: #80d8b4;
    color: #fff
}

#list-room-wrap>#nav-wrap>.nav-container>nav>ul>li>a{
    text-decoration: none;
    color: black;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu{
    display: inline-block;
    margin-left: 20px;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>div{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul{
    list-style-type: none;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul>li{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 14px;
}


#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul>li:hover{
    background-color: #80d8b4;
    font-weight: 700;
    font-size: 15px;
    color: #fff
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul>li>a{
    text-decoration: none;
    color: rgb(88, 88, 88);
}

#list-room-wrap>#content-wrap > div > div.content-container > div.detail-content-box{
    border: 1.5px solid #bbbbbb;
    border-radius: 15px;
    width: 96%;
    height: auto;
    margin-left: 12px;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>.sub-title{
    font-weight: 700;
    margin: 20px 0px 20px 20px;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>.title{
    font-weight: 700;
    margin: 20px 0px 5px 20px;
}

#list-room-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>.room-list>.room-list-origin> a >.room-img-div{
    float:right;
    width:200px;
    margin-top: 15px;
    
}
#room-img{
    width: 180px;
    height: 120px;
}

#room-seq{
    margin: 20px 10px 5px 20px;
}

#room-name{
    margin: 30px 10px 5px 20px;
}

#room-person{
    margin: 0px 10px 5px 20px;
}

#room-price{
    margin: 0px 10px 5px 20px;
}

.room-info-btn{
    width: 60px;
    height: 25px;
    margin: 10px 0px 20px 20px;
    border-radius: 5px;
    font-weight: 700;
    background-color: #80d8b4;
}

#room-seq{
    display: none;
}