*{
    box-sizing: border-box;
    text-align: center;
    
}

.study-body{
    height: auto;
}
div.studycafeDetail{
    display: table;
    width: 1000px;
    height: auto;
    
   background-color: #F9F9F9 ;
    
}
div.roomReview{
    display: table;
    width: 1000px;
    height: auto;
   
    margin-top: 50px;
  
}
.formclass{
    background-color: #F9F9F9;
}
.roomImg{
    width: 200px;
    height: 50px;
    background-size: 10%;
    }
.favStudy{
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.img{
 width: 400px; 
 height: 300px;  
}
.cfName{
    height: 80px;
}
.info{
    height: 200px;
    word-break: normal;
    letter-spacing: normal;
    line-height: 25px;
}
.addr{
    height: 50px;
}
.openTime{
    height: 50px;
}
.roomName{
    width: 400px;
    height: 200px;
}
.roomInfo{
    width: 400px;
    height: 400px;
    
}
.person{
width: 400px;
}
.sfDetail{
    width: 800px;
    
    margin: auto;
}
.roomPrice{
    width: 400px;
}
.sfDetail{
    height: 200px;
}
.detail{
    height: 100px;
}
.studyroomTable{
    width: 800px;
  
    margin: auto;
}
.roomReviewTable{
    background-color: #F9F9F9;
    width: 800px;
    height: 60px;
    margin: auto;
    margin-bottom: 10px;
}
.roomName{
    height: 50px;
}
.person{
    height: 30px;
}
.roomInfo{
    height: 70px;
}
div.studyroomList{
    display: table;
    width: 1000px;
    margin-top: 50px;
    
}
div.content{
    display: table, inline-block;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-left: 40px;
    margin-top: 100px;
    
}
div.img{
    display: table;
    width: 300px;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    float: right;
}
div.studycafeReview{
    display: table;
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
}
div.scName{
    display:table-row;

}
div.scDetail{
    display: table-row;
}

div.addr{
    display: table-row
}
div.opTime{
    display: table-row
}
div.studycafeInfo{
    max-height: 1000px;
}
.roomReviewTable{
    margin-bottom: -50px;
   
}
.nickname{
    width: 250px;
}
.rmname{
    width: 150px;
}
.star{
    width: 200px;
}
.roomSeq{
    display: none;
}
.hostId{
    display: none;
}
#nonebox {
    display: none;
}
#nonebox2 {
    display: none;
}
input.resbtn{
padding: 0px 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: auto;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
}
.review-title-table{
    border-bottom:2px solid #00C471;
    width: 800px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    margin-bottom: -40px;
}
.title-nickname{
    width: 240px;
}
.title-star{
    width: 190px;

}
.title-room{
    width: 140px;
}
.title-date{
width: 180px;
}
.roomReview{
background-color: #F9F9F9
}
.review{
    background-color: #F9F9F9
}
#review-title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    background-color: #F9F9F9
}
#re-con{
    background-color: #858A8D;
}



.content-container {
    width: 1000px;
    height: 1500px;
    margin: 0 auto;
    overflow: auto;
    background-color: #F9F9F9;
}
.study-body{
    background-color: #F9F9F9
}
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    background-color: #FFFEFE;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#index-wrap {
    width: 100%;
    height: 1500px;
    color: #000000;
    font-size: 15px;
}

#banner-wrap {
    width: 100%;
}

#content-wrap {
    width: 100%;
    height: auto;
}

#footer-wrap {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #303740;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#devBanner {
    width: 1000px;
    height: 300px;
}

#content-wrap>.content-container>div.lessonlist {
    width: 100%;
    height: 800px;
}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.nav-container {
    width: 1000px;
    height: 100px;
    line-height: 60px;
    margin: 0 auto;
}

.banner-container {
    width: 1000px;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
}

.content-container {
    width: 1000px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

#footer-wrap>div.footer-container {
    background-color: #303740;
}

.nav-container>nav {
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img {
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul {
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li {
    /* width: 100px; */
    display: inline-block;
    margin-left: 15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link {
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited {
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover {
    color: #00C471;
    font-weight: bold;
}

div.top-title {
    margin-left: -750px;
    margin-bottom: 50px;
    height: 50px;
}

span#showLoginId {
    font-weight: 800;
    color: #00C471;
}