@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
#wrap {width: 100%; height: auto; font-size: 15px; }
#header-wrap{width: 100%; background-color: #67615f; text-align:center;}
#nav-wrap{width: 100%; background-color: #a09998;}
#content-wrap{width: 100%; height:auto; background-color: #d4cac7;}
#footer-wrap{width: 100%; background-color: #e6dcd3; text-align:center;}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

 
 .header-container {width:1000px; height: 100px; line-height: 100px; margin: 0 auto; background-color: #8d6e63; } 
 .nav-container {width:1000px; height: 60px; line-height: 60px;margin: 0 auto; background-color: #a1887f; } 
 .mypage-body-wrap{margin:0 auto; width: 1000px; height: 800px; background-color: #ffffff}
.side-container {float: left; width: 20%; height: 700px; margin: 0 auto; background-color: #e2e5e4; } 
.content-container {float: right; width: 78%; height: 800px; margin: 0 auto; background-color: #ffffff;}
.footer-container{width: 1300px; height: 100px; line-height: 100px; margin: 0 auto;  background-color: #c39d91;}

.nav-container>nav{
    width: 600px;
    /* display: inline-block; */
    float: right;
}

.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    
}

.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

.nav-container>nav>ul>li:hover{
    background-color: #2C2A29;
    color: #fff
}

.side-container>.menu{
    display: inline-block;
    margin-left: 40px;
}

.side-container>.menu>div{
    font-size: 20px;
    margin-top: 30px;
}

.side-container>.menu>ul>li{
    margin-top: 13px;
    margin-left: 30px;
    font-size: 16px;
}

.side-container>.menu>ul>li>ul>li{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 16px;
}

.content-container>.ongoingDetail>div{
    background-color: lightgrey;
    margin-top: 20px;
    width: 95%;
    float: right;
    position: relative;
    left: -2.5%;
    height: 300px;
}

.content-container>.ongoingDetail>.classlist>.classThumbnail{
    float: left;
    width: 40%;
    margin-left: 20px;
}

.content-container>.ongoingDetail>.classlist>.classThumbnail>input{
    width: 230px;
    height: 150px;
}

.content-container>.ongoingDetail>.classlist>.classThumbnail>.classDetailButton{
    margin-top: 15px;
    margin-left: 30px;
}

.content-container>.ongoingDetail>.classlist>.classDetail{
    margin-top: 25px;
    float: right;
    width: 45%;
    margin-right: 20px;
}

.content-container>.ongoingDetail>.classlist>.classDetail>ul>li{
margin: 13px;
}

.content-container>.ongoingDetail>.classlist>.classDetail>.classButton{
margin-top: 50px;

}

.content-container>.ongoingDetail>.tuteelist>div{
    margin:0;
}