@charset "UTF-8";
/* Google web font CDN*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    /*전체에 박스사이징*/
    outline: none;
    /*focus 했을때 테두리 나오게 */
}

body {
    margin-top: 66px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    background-color: #f5f6f7;
    line-height: 1.5em;
    /*브라우저에 따른 상대단위*/
    color: #222;
    /* margin: 0; */
}

.nav_part {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    /* margin-bottom: 50px; */
}

.nav_part .name {
    margin-bottom: 70px;
}

div.order>div.category{
    margin: 20px;
    font-size: 18px;
    float: left;
    width: 10%;
    margin-left: 23%;
    height: 400px;
}

div.order>div.contents{
    margin: 20px;
    font-size : 18px;
    float: right;
    width: 50%;
    margin-right: 11%;
    height: 400px;
}

div.order>div.category>div{
    margin-top: 40px;
}

div.order>div.contents>div{
    margin-top : 40px;
}



#cardbutton{
padding: 0px 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    /* -webkit-tap-highlight-color: transparent; */
    display: inline-block;
    width: auto;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    margin-right: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 8px;
}

#kakaobutton {
padding: 0px 22px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    height: 42px;
    /* -webkit-tap-highlight-color: transparent; */
    display: inline-block;
    width: auto;
    position: relative;
    line-height: 1;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    margin-right: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 8px;
}
