@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
a {color:#000;}
a:link, a:visited {text-decoration:none;}
a:hover
.login_container {min-height:500px; width:100%; min-width:1450px;}
.login_container_wrap {width:580px; min-height:700px; position:relative; margin:0px auto;}

.login_contents {width:100%; padding-top:50px;}
.login_contents .logn_title {margin-bottom:60px;}
.login_contents .logn_title h4 {margin-bottom:25px; font-size:32px; line-height:36px; font-weight:bold; text-align:center;}
.login_contents .logn_title p.login_p1 span {display:block; text-align:center; line-height:22px; font-size:16px;}
.login_contents .logn_title p {display:block; text-align:center; line-height:22px; font-size:16px;}
.login_contents .login_inpbox p.login_inpt {margin-bottom:10px;}
.login_contents .login_inpbox p input {border:solid 1px #ddd; width:100%; padding-left:5%; height:50px; line-height:50px;}
.login_contents .login_inpbox p input:focus {border:solid 1px #000; background:#fbfbfb;}
.pass_inpt {margin-bottom:15px;}
/* .chk_id {margin-bottom:25px;font-size:16px; color:#232323;} */
.login_btn {display:block;padding:13px 0px;color:#fff;margin-bottom:20px;border-radius:5px;background:#2a2a2a;text-align:center;font-size:18px; width: 100%; margin-left: 2%;}

.member_btnlist {display:flex; box-sizing:border-box;}
.member_btnlist p {border:solid 1px #707070; width:175px; height:45px; position:relative;}
.member_btnlist p a {width:155px; padding-left:20px; height:45px; line-height:45px; display:block;}
.member_btnlist p.sign_up {text-align:center;}
.member_btnlist p.id_search {margin-left:22px; margin-right:22px; text-align:center; box-sizing:border-box;}
.member_btnlist p.pw_search {margin-left:22px; margin-right:22px; text-align:center;}

/* .member_btnlist .id_search{background-color:white; color:#000; text-decoration:none; width:155px; padding-left:20px; height:45px; line-height:45px; display:block;} */
