@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{margin: 0; padding: 0; background-color: #FFFEFE; font-family: 'Spoqa Han Sans Neo', 'sans-serif';} 

#tutee-dashboard {width: 100%; height: auto; color: #000000; font-size: 15px; }
#footer-wrap{
    width: 100%; 
    height: 100px; 
    line-height: 100px; 
    margin: 0 auto; 
    text-align:center; 
  
    background-color: #303740; 
    color:#fff;
    display : flex;
    justify-content: center;
    align-items : center;
    }
    #footer-wrap > div.footer-container{
      background-color: #303740; 
  }
.nav-container {width:1000px; height: 100px; line-height: 60px; margin: 0 auto; } 
.content-container {width: 1000px; margin: 0 auto; } 

/*=================== 헤더메뉴바 ===================*/
.nav-container>nav{
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
  }
  
  .nav-container>img{
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
  }
  
  .nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
  }
  
  .nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
  }
  
  /*  클릭 안 한 메뉴 */
  .nav-container>nav>ul>li>a:link{
    text-decoration: none;
    color: black;
    margin-top: 50px;
  }
  
  /*  클릭 한 메뉴 */
  .nav-container>nav>ul>li>a:visited{
    text-decoration: none;
    color: black;
  }
  
  .nav-container>nav>ul>li>a:hover{
    color:  #00C471;
    font-weight: bold;
  }
  
  .nav-container>nav>ul>li:hover{
    color:  #00C471;
    font-weight: bold;
  }

/*=================== 사이드바+메인영역 ===================*/
div.content-container > div.container{
    display: inline-block;
}

/*=================== 사이드바 ===================*/
div.content-container > div.container > div.menu{
    float: left;
    margin-left: 20px;
}

div.content-container > div.container > div.menu>div{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

div.content-container > div.container > div.menu>ul{
    text-decoration: none;
    margin-bottom: 30px;
    list-style-type: none;
}

div.content-container > div.container > div.menu>ul>li{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
    color: #000000;
}

div.content-container > div.container > div.menu>ul>li:hover{
    color: #00C471;
    font-weight: 700;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

body > div.content-container > div > div.menu > div.main-menu{
    text-decoration: none;
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul:nth-child(4) > li:nth-child(1) > ul{
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul:nth-child(4) > li:nth-child(1) > ul > li{
    margin-bottom: 10px;
    margin-top: 8px;
}

body > div.content-container > div > div.menu > ul:nth-child(4) > li:nth-child(2) > ul{
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul:nth-child(4) > li:nth-child(2) > ul > li{
    margin-bottom: 10px;
    margin-top: 8px;
}

body > div.content-container > div > div.menu > ul:nth-child(8) > li:nth-child(1) > ul{
    list-style-type: none;
}

body > div.content-container > div > div.menu > ul:nth-child(8) > li:nth-child(1) > ul > li{
    margin-bottom: 10px;
}


/*=================== 메인 영역 ===================*/
 div.content-container > div > div.main{
    margin-left: 250px;
}

#userName{
    margin-top: 10px;
    font-size: 14px;
}

#showLoginId{
    color: #00C471;
    font-weight: bold;
}

h3{
    margin-top: 20px;
}

.dash-box{
    margin-top: 40px;
    width: 600px;
    margin-bottom: 80px;
}

a.dash {
    display: inline-block;
    background-color: #F9F9F9;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

a.dash:hover{
    color: #00C471;
}



#applyWait{
    height: 120px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
}

#notYet{
    height: 120px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
}

#reject{
    height: 120px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
}

#proceed{
    height: 120px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
}

#last{
    height: 120px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
}

.lastLsit-lessonName{
    margin-left: 10px;
    margin-top: 10px;
}

