@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    /* background-color: #FFFEFE; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
    text-decoration: none;
    color: black;
}



#wrap {
    width: 100%;
    height: auto;
    font-size: 15px;
}

/* #header-wrap{width: 100%; background-color: #67615f; text-align:center;} */

#content-wrap {
    width: 100%;
    height: auto;
}

#footer-wrap {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #303740;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */


.nav-container {
    width: 1000px;
    height: 100px;
    line-height: 60px;
    margin: 0 auto;
}

.nav-container {
    width: 1000px;
    height: 100px;
    line-height: 60px;
    margin: 0 auto;
}

.mypage-body-wrap {
    margin: 0 auto;
    width: 1000px;
    height: 780px;
}

.side-container {
    float: left;
    width: 19%;
    height: 700px;
    margin: 0 auto;
    background-color: #F9F9F9;
}

.content-container {
    float: right;
    width: 78%;
    height: 710px;
    margin: 0 auto;
    margin: 18px 13px 13px 13px;
}

.footer-container {
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
}

#footer-wrap>div.footer-container {
    background-color: #303740;
}

.nav-container>nav {
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img {
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul {
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li {
    /* width: 100px; */
    display: inline-block;
    margin-left: 15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link {
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited {
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover {
    color: #00C471;
    font-weight: bold;
}

.side-container>.menu>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}

.side-container>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}


.side-container>.menu>ul>li>ul>li>a:hover {
    color: #00C471;
    font-weight: bold;
}


.side-container>.menu {
    display: inline-block;
    margin-left: 15px;
}

.side-container>.menu>div {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

.side-container>.menu>ul {
    list-style-type: none;
}

.side-container>.menu>ul>li {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
    list-style-type: none;
}

.side-container>.menu>ul>li>ul>li {
    margin-top: 8px;
    margin-left: 15px;
    font-size: 16px;
    list-style-type: none;
}

.content-container>.userMain>.userDetail{
    background-color: #F9F9F9;
    margin-top: 20px;
    width: 92%;
    float: right;
    position: relative;
    left: -4%;
    height: 360px;
}

.content-container>.userMain>.userDetail>.userinfo{
    float: left;
    width: 100%;
    margin-left: 20px;
}

#content-wrap > div.mypage-body-wrap > div.content-container > div > div.userDetail > div.userinfo > div.userform{
    width: 45%;
    float: left;
    margin-left: 20px;
    font-size: 17px;
    
}


.content-container> div > div.userDetail> div > div > ul > li {
    
        width: 100%;
        margin-left: 10px;
        font-size: 17px;
        margin-bottom: 17px;
}

div.top-title {
    margin-left: 25px;
    margin-bottom: 15px;
}

span#showLoginId {
    font-weight: 800;
    color: #00C471;
}

/* .content-container>.userMain>.userDetail>.userinfo>ul>li{
    float: left;
    width: 100%;
    margin-left: 40px;
    font-size: 15px;
    margin-bottom: 10px;
} */

.content-container>.userMain>.userDetail>.userButton>input#modify{
    float: right;
    font-size: 15px;
    margin-top: -10px;
    margin-right: 17px;
    border-width: 1px;
    text-align: center;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 28px;
    -webkit-tap-highlight-color: transparent;
    width: 80px;
    position: relative;
    line-height: 1;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #DAECE5;
    border-radius: 8px;
}

.content-container>.userMain>.userDetail>.userButton>input#delete {
    float: right;
    font-size: 15px;
    margin-top: -10px;
    margin-right: 17px;
    border-width: 1px;
    text-align: center;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 28px;
    -webkit-tap-highlight-color: transparent;
    width: 80px;
    position: relative;
    line-height: 1;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: #DAECE5;
    border-radius: 8px;
}

.content-container>.userMain>.class{
    margin-top: 25px;
    float: left;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.content-container>.userMain>.tutorTutee>.tutor{
    /* background-color: lightgrey; */
    margin-top: 30px;
    float: left;
    width: 40%;
    height: 70px;
    margin-left: 60px;
    margin-bottom: 10px;
}

.content-container>.userMain>.tutorTutee>.tutee{
    /* background-color: lightgrey; */
    margin-top: 30px;
    float: right;
    width: 40%;
    height: 70px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.content-container>.userMain>.studyCafe{
    margin-top: 25px;
    float: left;
    width: 100%;
    margin-left: 60px;
    margin-bottom: 10px;
}

.content-container>.userMain>.reservation>.upcoming{
    background-color: lightgrey;
    margin-top: 10px;
    float: left;
    width: 40%;
    height: 170px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.content-container>.userMain>.reservation>.reserved{
    background-color: lightgrey;
    margin-top: 10px;
    float: right;
    width: 40%;
    height: 170px;
    margin-right: 30px;
    margin-bottom: 10px;
}