@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#apply-list-tutor-wrap {width: 100%; height: auto; font-size: 15px; }
#apply-list-tutor-wrap>#nav-wrap{width: 100%;}
#apply-list-tutor-wrap>#content-wrap{width: 100%; height:auto; }
#footer-wrap{
    width: 100%; 
    height: 100px; 
    line-height: 100px; 
    margin: 0 auto; 
    text-align:center; 
    background-color: #303740; 
    color:#fff;
    display : flex;
    justify-content: center;
    align-items : center;
    }
#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap{margin:0 auto; width: 1000px; height: 720px;}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
width: 100%는 기본값이기 때문에 없어도 된다 */


#apply-list-tutor-wrap>#nav-wrap>.nav-container {width:1000px; height: 100px; line-height: 60px;margin: 0 auto;  } 
#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container {float: left; width: 19%; height: 310px; margin: 0 auto; background-color: #f9f9f9;} 
#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.content-container {float: right; width: 78%; height: auto; margin: 0 auto; }


.nav-container>nav{
    float: right;
}

.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}
.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li{
    display: inline-block;
    margin-left:15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link{
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited{
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover{
    color:  #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover{
    color:  #00C471;
    font-weight: bold;
}


span#showLoginId{
    font-weight: 800;
    color:  #00C471;
}



#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container>.menu{
    display: inline-block;
    margin-left: 20px;
}

#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container>.menu>div{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container>.menu>ul{
    list-style-type: none;
}

#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container>.menu>ul>li{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 14px;
}


#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container>.menu>ul>li:hover{
    font-weight: 700;
    font-size: 15px;
    color: #00C471;

}

#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.side-container>.menu>ul>li>a{
    text-decoration: none;
    color: rgb(88, 88, 88);
}

div.info-title{
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

#content-wrap > div.userpage-body-wrap > div.content-container > div#tutor-box{
    text-align: center;
    width: 100%;
    height: auto;
}


#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.content-container>div#tutor-box>.sell-title{
    background-color: #e9e9e9;
    padding-bottom: 20px;
    padding-top: 20px;
}

#apply-list-tutor-wrap>#content-wrap>.userpage-body-wrap>.content-container>div#tutor-box>div.apply-list-tutor{
    overflow:scroll;
    overflow-x:hidden;
    height:205px;
}

b#b-userId{
    width:150px;
    display:inline-block;
    text-align: center;
}

.apply-list-tutor>.apply-list-tutor-origin>.tutor-userId{
 width:150px;
 height: 30px;
 display:inline-block; 
 text-align: center;
 /* border: 1px solid #62ff19; */
}

b#b-tel{
    width:150px;
    display:inline-block;
    text-align: center;
}
.apply-list-tutor>.apply-list-tutor-origin>.tutor-tel{
    width: 150px;
    height: 30px;
    display:inline-block; 
    text-align: center;
    /* border: 1px solid #62ff19; */
}

b#b-email{
    width:250px;
    display:inline-block;
    text-align: center;
}

.apply-list-tutor>.apply-list-tutor-origin>.tutor-email{
 width: 250px;
 height: 30px;
 display:inline-block; 
 text-align: center;
 /* border: 1px solid #62ff19; */
}

b#b-apply-ok{
    width:180px;
    margin-right: 17px;
    display:inline-block;
    text-align: center;
}

.apply-list-tutor>.apply-list-tutor-origin>span.apply-btn{
    width: 170px;
    height: 30px;
    display:inline-block; 
    text-align: center;
    margin-top: 6px;
}

hr.list-sell-line{
   border-style: dashed;
   border-color: #bbbbbb;
}


span.apply-btn{
 margin-left: 10px;
}

input.approve-btn-ok{
    border-width: 1px;
    margin-right: 10px;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 27px;
    -webkit-tap-highlight-color: transparent;
    width:60px;
    position: relative;
    line-height: 1;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
}


input.approve-btn-reject{

    margin-right:20px;
    border-width: 1px;
    text-align: center;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 27px;
    -webkit-tap-highlight-color: transparent;
    width: 60px;
    position: relative;
    line-height: 1;
    font-size: 4;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: #00C471;
    background-color: white;
    border: 1.5px solid #00C471;
    border-radius: 8px;

}