@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
*{margin: 0; padding: 0;}
#wrap {width: 100%; margin: 0 auto; font-size: 15px; text-align: center; flex-direction: column;}
#nav-wrap{width: 100%; margin-bottom : 30px;}
#findHostPwd-wrap{width: 1000px; min-height : 800px; overflow-y: scroll; margin: 0 auto;background-color: white;}
#footer-wrap{
    width: 100%; 
    height: 100px; 
    line-height: 100px; 
    margin: 0 auto; 
    text-align:center; 
    background-color: #303740; 
    color:#fff;
    display : flex;
    justify-content: center;
    align-items : center;
}
#footer-wrap > div.footer-container{background-color: #303740; }

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */
 .nav-container {width:1000px; height: 100px; line-height: 60px; margin: 0 auto;}
.findHostPwd-container {width: 100%; margin: 0 auto; margin-top: 100px;  background-color: white; color:black;}
.footer-container{width: 100%; height: 100px; line-height: 100px; margin: 0 auto; background-color: #c39d91;}
.nav-container>nav{
    /* width: 600px; */
    /* display: inline-block; */
    float: right;
}

.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 33px;
    margin-left: 20px;
}

.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 17px;
}

.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

/*  클릭 안 한 메뉴 */
.nav-container>nav>ul>li>a:link{
    text-decoration: none;
    color: black;
    margin-top: 50px;
}

/*  클릭 한 메뉴 */
.nav-container>nav>ul>li>a:visited{
    text-decoration: none;
    color: black;
}

.nav-container>nav>ul>li>a:hover{
    color:  #00C471;
    font-weight: bold;
}

.nav-container>nav>ul>li:hover{
    color:  #00C471;
    font-weight: bold;
}

.findHostPwd-find-text{
    margin-top:50px;
}
.findHostPwd-container{
    text-align: center;
}
.findHostPwd-description{
    margin-top:20px;
}
.findHostPwd-find-content{
    margin-top : 50px;
}
.input-email>.inputemail{
    color: rgb(0, 0, 0);
    display: block;
    min-height: 32px;
    outline: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.35;
    border-color: #d5dbe2;
}
.findHostPwd-container{
    box-sizing: border-box;
    margin : 0 auto;
}
.findHostPwd-find-content> .input-email{
    text-align:center;
    box-sizing: border-box;
}

.findHostPwd-container .input-email #email-submit{
    margin-right: 14px;
    margin-top: 20px;
    /* float:right; */
    border-width: 1px;
    /* text-align: center; */
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    height: 44px;
    -webkit-tap-highlight-color: transparent;
    width: 100px;
    position: relative;
    line-height: 1;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #00C471;
    border-radius: 8px;
   
}

.findHostPwd-find-content {
    width: 50%; /* 가운데 정렬할 div의 너비 */
    margin: 0 auto; /* 가로 방향으로 중앙에 위치하도록 margin 지정 */
}

.input-email {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputemail {
    margin-bottom: 10px;
}