@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
#list-reservation-wrap {width: 100%; height: auto; font-size: 15px; }
#list-reservation-wrap>#nav-wrap{width: 100%;border: 1px solid rgb(187, 187, 187);}
#list-reservation-wrap>#content-wrap{width: 100%; height:auto; border: 1px solid rgb(187, 187, 187);}
#list-reservation-wrap>#footer-wrap{width: 100%; border: 1px solid rgb(187, 187, 187); text-align:center;}
#list-reservation-wrap>#content-wrap>.hostpage-body-wrap{margin:0 auto; width: 1000px; height: 600px;  border: 1px solid rgb(187, 187, 187);}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
width: 100%는 기본값이기 때문에 없어도 된다 */


#list-reservation-wrap>#nav-wrap>.nav-container {width:1000px; height: 100px; line-height: 60px;margin: 0 auto; border: 1px solid #c39d91; } 
#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container {float: left; width: 19%; height: auto; margin: 0 auto; border: 1px solid #fc487b;} 
#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.content-container {float: right; width: 78%; height: auto; margin: 0 auto; border: 1px solid #62ff19; margin: 18px 13px 13px 13px;}
#list-reservation-wrap>#footer-wrap>.footer-container{width: 1000px; height: 100px; line-height: 100px; margin: 0 auto;  background-color: #c39d91;}

#list-reservation-wrap>#nav-wrap>.nav-container>nav{
    width: 310px;
    /* display: inline-block; */
    float: right;
}

#list-reservation-wrap>#nav-wrap>.nav-container>img{
    height: 30px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

#list-reservation-wrap>#nav-wrap>.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
    
}

#list-reservation-wrap>#nav-wrap>.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

#list-reservation-wrap>#nav-wrap>.nav-container>nav>ul>li:hover{
    background-color: #80d8b4;
    color: #fff
}

#list-reservation-wrap>#nav-wrap>.nav-container>nav>ul>li>a{
    text-decoration: none;
    color: black;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu{
    display: inline-block;
    margin-left: 20px;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>div{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul{
    list-style-type: none;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul>li{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 14px;
}


#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul>li:hover{
    background-color: #80d8b4;
    font-weight: 700;
    font-size: 15px;
    color: #fff
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.side-container>.menu>ul>li>a{
    text-decoration: none;
    color: rgb(88, 88, 88);
}

#content-wrap > div > div.content-container > div.detail-content-box{
    
    width: 96%;
    height: auto;
    margin-left: 12px;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>.sub-title{
    font-weight: 700;
    margin: 20px 0px 20px 20px;
}



#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>.sell-title{
    background-color: #e9e9e9;
    padding-bottom: 20px;
    padding-top: 20px;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>div.reservation-list{
    overflow:scroll;
    overflow-x:hidden;
    height: 400px;
}




b#b-reservation-seq{
    width:100px;
    display:inline-block;
    text-align: center;
}

.reservation-list>.reservation-list-origin>#reservation-seq{
 width: 100px;
 display:inline-block; 
 text-align: center;
}

b#b-reservation-usingDate{
    width:90px;
    display:inline-block;
    text-align: center;
}
.reservation-list>.reservation-list-origin>#reservation-usingDate{
    width: 90px;
    display:inline-block; 
    text-align: center;
}

b#b-reservation-idAndName{
    width:230px;
    display:inline-block;
    text-align: center;
}

.reservation-list>.reservation-list-origin>#reservation-idAndName{
    width: 230px;
    display:inline-block; 
    text-align: center;
}

b#b-reservation-hostId{
    width:130px;
    display:inline-block;
    text-align: center;
}

.reservation-list>.reservation-list-origin>#reservation-hostId{
    width: 130px;
    display:inline-block; 
    text-align: center;
}

b#b-reservation-roomName{
    width:130px;
    display:inline-block;
    text-align: center;
}

.reservation-list>.reservation-list-origin>#reservation-roomName{
    width: 130px;
    display:inline-block; 
    text-align: center;
}

hr.list-sell-line{
   border-style: dashed;
   border-color: #bbbbbb;
}

#list-reservation-wrap>#content-wrap>.hostpage-body-wrap>.content-container>.detail-content-box>div.reservation-list>.reservation-list-origin>.reservation-data{
    margin-top: 10px;
    margin-bottom: 10px;
}