#detail {width: 100%; height: 1500px; color: #000000; font-size: 15px; }

.nav-container {width:1000px; height: 100px; line-height: 60px; margin: 0 auto; border: 3px solid black; } 
.content-container {width: 1000px; margin: 0 auto; border: 3px solid yellowgreen; } 
.footer-container{width: 1000px; height: 100px; text-align:center; line-height: 100px; margin: 0 auto;  border: 3px solid orange; }

/*=================== 헤더메뉴바 ===================*/
.nav-container>nav{
    width: 600px;
    /* display: inline-block; */
    float: right;
}

#lessonDetail > div.nav-container > img{
    height: 30px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px; 
}

.nav-container>nav>ul>li{
    /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

.nav-container>nav>ul>li:hover{
    background-color: #2C2A29;
    color: #fff
}

/*===================  상세정보 ===================*/
.content-container > .dContent{
    margin: 50px;
}

/*=================== 상단 상세정보 ===================*/
#detail {
    display: inline-block;
    margin-top: 10px;
}

#detail > #classImg{
    display: inline-block;
    margin-left: 80px;
    width: 400px;
    height: 200px;
}

#detail > div.detail-container{
    float: right;
    margin-left: 50px;
}


/*=================== 하단 상세정보 ===================*/
#lessonDetail > div.content-container > div.dContent > div.dContent-container {
    margin-top: 30px;
}