@charset "UTF-8";
/* Google web font CDN*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');


*{
    box-sizing: border-box; /*전체에 박스사이징*/
    outline: none; /*focus 했을때 테두리 나오게 */
}

body{
    margin-top: 66px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    background-color: #f5f6f7;
    line-height: 1.5em; /*브라우저에 따른 상대단위*/
    color : #222;
    /* margin: 0; */
}

.member {
    margin-top: 15px;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
}

.member .field {
    /* margin-top: 100px; */
    margin: 30px;
}



.nav_part {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    /* margin-bottom: 50px; */
}

.nav_part .name{
    margin-bottom: 100px;
}

.member .field .placehold-text #sendMail{
    margin-top: 15px;
}

.nav_part .name>h1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_part .name>h3 {
    margin-top: 50px;
}

.nav_part .name>h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member b {
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
}


.member input:not(input[type=radio]),
.member select {
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.member input[type=button],
.member input[type=submit] {
    background-color: #010101;
    color: rgb(255, 255, 255)
}


.member input:focus,
.member select:focus {
    border: 1px solid #2db400;
}

.placehold-text {
    display: block;
    position: relative;
}



/* .member{
    text-align: center;

} */


div.member>div.field>span.check>input#emailCheck{
    display: none;
}

div.member>div.check>input#sighupComplete{
    display: none;
}